<header>
    <div class="header-container">
        <img src="../../../assets/dota2-logo.png" alt="Dota 2 Logo">

        <div class="search-container">
            <form action="/">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="attribute-container">
        <button class="btn-str"></button>
        <button class="btn-agi"></button>
        <button class="btn-int"></button>
    </div>
</header>
