.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 200px;

    img {
        width: 235px;

        cursor: pointer;
    }

    .search-container{
        border-bottom: 2px solid grey;

        input {
            background-color: transparent;

            border: none;


            font-size: 1.5rem;
            font-family: 'Golos Text', sans-serif;
            color: darkgray;

            width: 400px;
            height: 50px;

            &:focus {
                outline: none;
            }

        }

        button {
            background-color: transparent;
            border: none;

            color: grey;

            font-size: 1.5rem;

            cursor: pointer;
        }

    }

}

.attribute-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
        color: grey;
        text-align: center;
        text-transform: capitalize;
    }

    button {
        background-repeat: no-repeat;
        background-size: contain;

        border-radius: 5px;
    
        width: 40px;
        height: 35px;
    
        cursor: pointer;
        border: none;
    }
    

    .btn-str{
        background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-str.png);
    }
    
    .btn-agi {
        background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-agi.png);
    }
    
    .btn-int {
        background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-int.png);
    }
}
