<header class="header-container">
    <div class="logo-container">
        <img src="../../../assets/dota2-lg.png" alt="Dota 2 Logo">
    </div>
        
    <div class="search-container">
        <div class="search">
            <form action="/">
                <input type="text" placeholder="Procurar..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="attribute-container">
        <p>atributos</p>
        <div class="button-container">
            <button class="btn-str" title="Força"></button>
            <button class="btn-agi" title="Agilidade"></button>
            <button class="btn-int" title="Inteligência"></button>
        </div>
    </div>
   
</header>
