.card {   
    background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/abaddon.png);
    background-size: cover;

    border: 1px solid grey;
    border-radius: 5px;

    cursor: pointer;

    width: 250px;
    height: 140px;


    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }

}

.heroes {
    display: flex;
    flex-wrap: wrap;
    height: 280px;
    overflow: hidden;
    overflow-y: auto;

    .hero-card {
        width: 200px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}